/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons :global(.button) {
  margin-right: 1rem;
}

.buttons :global(.button):last-child {
  margin-right: 0;
}

@media screen and (max-width: 600px) {
  .buttons {
    flex-direction: column !important;
    align-items: stretch !important;
  }
  .buttons :global(.button),
  .buttons > a.button {
    margin-right: 0 !important;
    margin-bottom: 1rem !important;
    width: 100% !important;
    box-sizing: border-box;
  }
  .buttons :global(.button):last-child,
  .buttons > a.button:last-child {
    margin-bottom: 0 !important;
  }
}
